@font-face {
  font-family: 'Klav';
  src: url("Klavika-Bold.otf"); }
@font-face {
  font-family: 'KlavItal';
  src: url("Klavika-LightItalic.otf"); }
@font-face {
  font-family: 'KlavText';
  src: url("Klavika-Light.otf"); }
h1 {
  font-family: "Klav", "Didot", "Bodoni", serif;
  color: #7f7f7f;
  font-size: 2.75em; }

h2 {
  font-family: "KlavItal", "Didot", "Bodoni", serif;
  color: #7f7f7f;
  font-size: 3em; }

h3 {
  font-family: "KlavItal", "Didot", "Bodoni", serif;
  color: #7f7f7f; }

p {
  font-family: "KlavText", "Didot", "Bodoni", serif;
  color: #7f7f7f; }

.topphoto {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background: url(../img/leek.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html {
  background-color: #F7F7F7; }

#logo {
  margin-top: 10%; }

#restof {
  margin-top: -6%; }

.pagecontain {
  background-color: #f7f7f7; }

#topheadline {
  padding-top: 3em; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }
